body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(136, 114, 114);
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: rgb(199, 247, 244);
}

.platforms {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin: 20px 0;
}

.platform {
    background-color: #fff; /* Default background color */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.platform.facebook {
    background-color: #5a76b3; /* Facebook blue */
}

.platform.twitter {
    background-color: #2582bb; /* Twitter sky blue */
}

.platform.youtube {
    background: linear-gradient(to right, #a86260, #867b7b); /* YouTube red gradient */
}

.platform.instagram {
    background: linear-gradient(to right, #fc7d79, #b6a5a5); /* YouTube red gradient */
}

.platform h2 {
    margin-bottom: 10px;
    color: #55707c;
}

.platform p {
    font-size: 1.1rem;
    color: #999;
}

#refresh {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}